body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors */
  --color-primary: #72F34B;
  --color-background: #1e2127;

  /* Form Items */
  --form-items-height: 46px;
  --form-items-border-radius: 4px;

  /* App Layout */
  --side-navigation-width: 120px;
  --top-gap: 24px;
}
